@import "nurse/assets/scss/vitality";
@import "nurse/assets/scss/shop";
@import "nurse/assets/scss/general";

body{
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",Microsoft YaHei,"微软雅黑",MicrosoftJhengHei,华文细黑,STHeiti,MingLiu !important;
}

.bg-special{
  background-color: $themePrimary;
}

.bg-colorlight{
  background-color: rgba(21, 164, 169,0.2);
}

.text-danger{
  color:red;
}

#mainNav{
  .top-logo{
    display: inline-block;
  }
  .move-logo{
    display: none;
  }
  .nav-link{
    text-transform: uppercase;
  }
}

.whyico{
  padding-top: 30px;
}
.normalhr{
  margin: 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width:100%;
  max-width:unset;
}
#mainNav.navbar-shrink{
  .top-logo{
    display: none;
  }
  .move-logo{
    display: inline-block;
  }
  -webkit-box-shadow: 0 2px 10px #505050a3;
  box-shadow: 0 2px 10px #505050a3;
  .navbar-toggler{
    color:#000;
  }
}
@media(max-width: 991px){

  #mainNav{
    background-color: #0a0a0a;
  }
  #mainNav.navbar-shrink{
    background-color: #fff;
  }
}

#mainNav.navbar-shrink .navbar-nav>.nav-item>.nav-link.nav-link{
  color: #0a0a0a;
}
@media (min-width: 992px){
  #mainNav.navbar-shrink {
  background-color: #fff;
  }
}

header.masthead{
  .product-image{
    img{
      height: 70vh;
    }
  }
  .slogan{
    font-size: 55px;
  }
}

@media (max-width: 576px) {
  header.masthead {
    .slogan {
      font-size: 55px;
    }
  }
}

header.childhead{
  position:relative;
  height: 50vh;
  min-height: 400px;
  padding-top: 0;
  padding-bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .child-title{
    font-size: 3rem;
    line-height: 3rem;
  }
}

.footer {
  background-color: rgba(21, 164, 169,0.2);
  color: #323232;
  position: relative;
  width: 100%;
  display: block;
}
.footer .footer-block {
  padding-top:30px;
  padding-bottom:30px;
}
.footer hr {
  border-color: #eee;
}

.footer .footer-info p {
  color: #323232;
}

.footer-logo {
  max-width: 125px;
  display: inline-block;
  width: 100%;
}

.contact .social {
  font-size:20px;
}
.footer .social{
  font-size: 16px;
  margin-top:20px;
}
.footer .link-title {
  margin-bottom:20px;
}
.footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer ul li{
  margin-bottom:5px;
  color: #0a0a0a;
}

.footer ul.social li, .contact ul.social li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.footer .link a {
  font-size: 14px;
  font-weight: 400;
  /*text-transform: uppercase;*/
  letter-spacing: 0;
}

.footer .link-small a {
  font-weight: 600;
  text-transform: none;
}

.footer .copyright {
  text-align: center;
}

footer.footer a {
  color: rgba(0, 0, 0, 0.7);
}

.features-box-left, .features-box-right {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 5px;
}

.features-box-left {
  padding-left: 40px;
  text-align: left;
}

.features-box-right {
  padding-right: 40px;
  text-align: right;
}

.features-icon-left, .features-icon-right {
  font-size: 50px;
  line-height: 50px;
  display: inline-block;
  position: absolute;
}

.features-icon-left {
  padding-right: 20px;
  left: 0;
}

.features-icon-right {
  padding-left: 20px;
  right: 0;
}
.features-icon{
  i{
    font-size: 2.5em;
    color:$themePrimary;
  }
  margin-bottom: 15px;
}
.features-title{
  margin: 0 0 10px;
  font-size: 22px;
  line-height: 32px;
  color: $themePrimary;
  font-style: normal;
  font-weight: 300;
}
.features-content{
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #797676;
  padding:15px 0;
}
.features-box{
  margin-top: 30px!important;
  margin-bottom: 30px!important;
}
.feature-head{
  font-style: normal;
  font-size: 30px;
  line-height: 46px;
}
.feature-sub{
  font-style: normal;
  font-weight: 300;
  display: block;
  max-width: 900px;
  padding: 15px 0 0;
  margin: 0 auto;
  color: #797676;
  font-size: 18px;
  line-height: 28px;
}
.feature-header{
  margin-bottom: 60px;
}
@media (max-width: 576px){
  .features-box,.features-box-left,.features-box-right{
    text-align: center;
    padding:0 2em;
    margin: 0 auto;
  }
}
/*share section*/
#share-group{
  .flex-item{
    position: relative;
    width: 20%;
    color: #797676;
    text-align: center;
    font-size: 2em;
    border: 1px solid #e3e3e3;
    border-left-width: 0;
    padding: 30px 0;
  }
  .i-facebook{
    a{
      color: $facebook;
    }
    &:hover{
      background-color:$facebook ;
      a{
        color:#fff;
      }
    }
  }
  .i-google-plus{
    a{
      color:$googleplus;
    }
    &:hover{
      background-color:$googleplus ;
      a{
        color:#fff;
      }
    }
  }
  .i-instagram{
    a{
      color: $instagramorange;
    }
    &:hover{
      background-color:$instagramorange ;
      a{
        color:#fff;
      }
    }
  }
  .i-twitter{
    a{
      color:$twitter;
    }
    &:hover{
      background-color:$twitter ;
      a{
        color:#fff;
      }
    }
  }
  .i-linkedin{
    a{
      color:$linkedin;
    }
    &:hover{
      background-color:$linkedin ;
      a{
        color:#fff;
      }
    }
  }
}

/*detail section*/

.contact-form p input[type="text"],
.contact-form p textarea {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px;
  width: 100%;
  background-color:#fff;
  color:#000;
}
.contact-form .form-submit input {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 50px;
  margin-top: 40px;
  text-transform: uppercase;
  width: 100%;
}
.contact-title.text-center span {
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}
.contact-title.text-center {
  color: #606060;
  margin-bottom: 50px;
}
.contact-title.text-center>h2 {
  margin-bottom: 30px;
}
.contact-info {
  padding: 30px 0 100px;
}
#commentform {
  margin-top: 30px;
}
.contact-info strong {
  display: inline-table;
  font-size: 15px;
  font-weight: 500;
}
.contact-info>ul {
  list-style: outside none none;
  padding: 0;
}
.contact-info li {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}
.contact-info .f-sicon2 ul {
  margin: 30px 0 0 0;
  padding: 0;
}
.contact-info .f-sicon2 li {
  float: inherit;
  margin: 0 15px 0 0;
}
.contact-info .f-sicon2 li a {
  color: rgb(96, 96, 96);
  font-size: 16px;
}
.contact-info .img-icon {
  float: left;
  margin-right: 25px;
}
#input-email {
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px;
  background-color:#fff;
  color:#000;
}

#submit-contact-us-btn{
  border: none;
  width: 100%;
  background-color: $themePrimary;
  padding:0.5em;
  color:#fff;
}

.register-form{
  .label{
    display:block;
    text-align: left;
    color: #0a0a0a;
    padding: 0;
    font-size: 1em;
    margin: 1em 0 0.3em 0;
  }
  input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding:10px 0.3em;
  }
  select{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
  }
}
.content-detail-wrap{
  .label{
    color: #000;
    padding: 0;
    font-size: 1em;
    margin: 1em 0 0.5em 0;
  }
  input{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding:10px 0.5em;
    &:focus{
      border-radius: 5px;
    }
  }
}
.confirm{
  color:#fff;
}

.ad-box{
  padding:1em;
  h3{
    font-size:1em;
    font-weight: bold;
    margin:0;
    padding:0;
  }
}
#banner{
  .row {
    @media (min-width: 576px) {
      .col-md-4 {
        border-right: 1px solid #ffffff;
        margin: 1em 0;
      }
      .col-md-4:last-child {
        border-right: none;
      }
    }
  }
}

.why-content{
  h4{
    border-bottom: 1px solid #000;
    font-size: 1.2em;
    margin-top:1em;
  }
}

/*==========================================
    News Page CSS Here
==========================================*/

#news-page-news-feed {
  padding: 120px 0 200px;
}

#news-page-news-feed .single-news-content {
  margin-bottom: 30px;
}

.news-see-more-btn.raj_btn {
  margin-top: 70px;
}

.news-see-more-btn.disabled {
  border-radius: 0;
  padding: 15px 40px;
}

.news-see-more-btn:focus,
.news-see-more-btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $themePrimary;
}

#news-page-news-feed .news-slice {
  display: none;
}

/*==========================================
    News Open or Single Blog CSS Here
==========================================*/

#news-open-area.section-padding {
  padding-bottom: 130px;
}

.news-heading h1 {
  border-bottom: 1px solid #c0c0c0;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding-bottom: 18px;
}

.news-heading {
  margin-bottom: 35px;
}

.news-open-meta a {
  color: #3a3a3a;
  font-weight: 500;
  letter-spacing: 0.6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news-open-meta a:hover {
  color: $themePrimary;
}

.news-open-meta span {
  font-weight: 500;
  margin: 0 5px;
}

.news-open-meta i.fa {
  color: $themePrimary;
  font-size: 15px;
  margin-right: 5px;
}

.single-content-open p {
  color: #7d7d7d;
  font-family: "Exo";
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 28px;
  margin-bottom: 35px;
}

.single-content-open p:nth-child(5) {
  color: $themePrimary;
  font-style: italic;
}

.single-content-open img {
  margin-bottom: 35px;
}

.single-content-open {
  border-bottom: 1px solid #cdcdcd;
}

.content-share-btn {
  margin: 20px 0 90px;
}

.content-share-btn a {
  border: 2px solid $themePrimary;
  border-radius: 4px;
  color: $themePrimary;
  display: inline-block;
  font-weight: 700;
  margin-right: 15px;
  padding: 8px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-share-btn a:hover {
  background-color: $themePrimary;
  color: #fff;
}

.content-share-btn a i.fa {
  margin-right: 5px;
}

.content-share-btn a {
  border: 2px solid $themePrimary;
  border-radius: 4px;
  color: $themePrimary;
  display: inline-block;
  font-weight: 700;
  margin-right: 15px;
  padding: 8px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-share-btn {
  margin: 25px 0 90px;
}

.content-share-btn a:hover {
  background-color: $themePrimary;
  color: #fff;
}

.content-share-btn a i.fa {
  margin-right: 5px;
}

.news-comment-form h2 {
  color: #616161;
  font-family: Exo;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 35px;
}

.news-comment-form form input,
.news-comment-form form textarea {
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 20px 10px;
  resize: none;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.news-comment-form form input:hover,
.news-comment-form form input:focus,
.news-comment-form form input:active,
.news-comment-form form textarea:hover,
.news-comment-form form textarea:focus,
.news-comment-form form textarea:active {
  border-color: $themePrimary;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: medium none;
}

.comment-btn {
  cursor: pointer;
  border: none;
}

.single-sidebar {
  margin-bottom: 50px;
}

.sidebar-title {
  margin-bottom: 25px;
}

.sidebar-title h3 {
  border-bottom: 1px solid $themePrimary;
  color: $themePrimary;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 5px;
}

.recent-news-side .media-body h5 {
  color: #616161;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.sidebar-area a {
  color: #616161;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-sidebar ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px 0;
}

.single-sidebar ul li a:hover {
  color: $themePrimary;
}

.single-sidebar ul li:first-child {
  padding-top: 0;
}

.recent-news-btn {
  color: $themePrimary !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.recent-news-btn:hover {
  color: #22252c !important;
}

.recent-news-btn i.fa {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recent-news-btn:hover i.fa {
  padding-left: 6px;
}

.blog-post .post-media {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.item>img{
  height: auto;
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;

}

.blog-post .post-header h5, .blog-post .post-header h4, .blog-post .post-header h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.blog-post .post-more-link {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  a{
    color: #323232;
  }
}

.pull-right {
  float: right;
}
