@import "nurse/assets/scss/vitality";
@import "nurse/assets/scss/shop";
@import "nurse/assets/scss/general";
.bg-special{
  background-color: $themePrimary;
}

.bg-colorlight{
  background-color: rgba(21, 164, 169,0.2);
}

#mainNav{
  .top-logo{
    display: inline-block;
  }
  .move-logo{
    display: none;
  }
}
.normalhr{
  margin: 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width:100%;
  max-width:unset;
}
#mainNav.navbar-shrink{
  .top-logo{
    display: none;
  }
  .move-logo{
    display: inline-block;
  }
  -webkit-box-shadow: 0 2px 10px #505050a3;
  box-shadow: 0 2px 10px #505050a3;
}


#mainNav.navbar-shrink .navbar-nav>.nav-item>.nav-link.nav-link{
  color: #0a0a0a;
}
@media (min-width: 992px){
  #mainNav.navbar-shrink {
  background-color: #fff;
  }
}

header.masthead{
  .product-text{
    h2{
      font-size: 80px;
    }
  }
  .product-image{
    img{
      height: 70vh;
    }
  }
}

header.childhead{
  position:relative;
  height: 50vh;
  min-height: 400px;
  padding-top: 0;
  padding-bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .child-title{
    font-size: 3rem;
    line-height: 3rem;
  }
}

.footer {
  background-color: rgba(21, 164, 169,0.2);
  color: #323232;
  position: relative;
  width: 100%;
  display: block;
}
.footer .footer-block {
  padding-top:30px;
  padding-bottom:30px;
}
.footer hr {
  border-color: #eee;
}

.footer .footer-info p {
  color: #323232;
}

.footer-logo {
  max-width: 125px;
  display: inline-block;
  width: 100%;
}

.contact .social {
  font-size:20px;
}
.footer .social{
  font-size: 16px;
  margin-top:20px;
}
.footer .link-title {
  margin-bottom:20px;
}
.footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer ul li{
  margin-bottom:5px;
  color: #0a0a0a;
}

.footer ul.social li, .contact ul.social li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.footer .link a {
  font-size: 14px;
  font-weight: 400;
  /*text-transform: uppercase;*/
  letter-spacing: 0;
}

.footer .link-small a {
  font-weight: 600;
  text-transform: none;
}

.footer .copyright {
  text-align: center;
}

footer.footer a {
  color: rgba(0, 0, 0, 0.7);
}

.features-box-left, .features-box-right {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 5px;
}

.features-box-left {
  padding-left: 40px;
  text-align: left;
}

.features-box-right {
  padding-right: 40px;
  text-align: right;
}

.features-icon-left, .features-icon-right {
  font-size: 50px;
  line-height: 50px;
  display: inline-block;
  position: absolute;
}

.features-icon-left {
  padding-right: 20px;
  left: 0;
}

.features-icon-right {
  padding-left: 20px;
  right: 0;
}
.features-icon{
  i{
    font-size: 2.5em;
    color:$themePrimary;
  }
  margin-bottom: 15px;
}
.features-title{
  margin: 0 0 10px;
  font-size: 22px;
  line-height: 32px;
  color: $themePrimary;
  font-style: normal;
  font-weight: 300;
}
.features-content{
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #797676;
  padding:15px 0;
}
.features-box{
  margin-top: 30px!important;
  margin-bottom: 30px!important;
}
.feature-head{
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
}
.feature-sub{
  font-style: normal;
  font-weight: 300;
  display: block;
  max-width: 900px;
  padding: 15px 0 0;
  margin: 0 auto;
  color: #797676;
  font-size: 18px;
  line-height: 28px;
}
.feature-header{
  margin-bottom: 60px;
}
@media (max-width: 576px){
  .features-box,.features-box-left,.features-box-right{
    text-align: center;
    padding:0 2em;
  }
}
/*share section*/
#share-group{
  .flex-item{
    position: relative;
    width: 20%;
    color: #797676;
    text-align: center;
    font-size: 2em;
    border: 1px solid #e3e3e3;
    border-left-width: 0;
    padding: 30px 0;
  }
  .i-facebook{
    a{
      color: $facebook;
    }
    &:hover{
      background-color:$facebook ;
      a{
        color:#fff;
      }
    }
  }
  .i-google-plus{
    a{
      color:$googleplus;
    }
    &:hover{
      background-color:$googleplus ;
      a{
        color:#fff;
      }
    }
  }
  .i-instagram{
    a{
      color: $instagramorange;
    }
    &:hover{
      background-color:$instagramorange ;
      a{
        color:#fff;
      }
    }
  }
  .i-twitter{
    a{
      color:$twitter;
    }
    &:hover{
      background-color:$twitter ;
      a{
        color:#fff;
      }
    }
  }
  .i-linkedin{
    a{
      color:$linkedin;
    }
    &:hover{
      background-color:$linkedin ;
      a{
        color:#fff;
      }
    }
  }
}

/*detail section*/

.contact-form p input[type="text"],
.contact-form p textarea {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px;
  width: 100%;
  background-color:#fff;
  color:#000;
}
.contact-form .form-submit input {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 50px;
  margin-top: 40px;
  text-transform: uppercase;
  width: 100%;
}
.contact-title.text-center span {
  color: #9d9d9d;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}
.contact-title.text-center {
  color: #606060;
  margin-bottom: 50px;
}
.contact-title.text-center>h2 {
  margin-bottom: 30px;
}
.contact-info {
  padding: 30px 0 100px;
}
#commentform {
  margin-top: 30px;
}
.contact-info strong {
  display: inline-table;
  font-size: 15px;
  font-weight: 500;
}
.contact-info>ul {
  list-style: outside none none;
  padding: 0;
}
.contact-info li {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}
.contact-info .f-sicon2 ul {
  margin: 30px 0 0 0;
  padding: 0;
}
.contact-info .f-sicon2 li {
  float: inherit;
  margin: 0 15px 0 0;
}
.contact-info .f-sicon2 li a {
  color: rgb(96, 96, 96);
  font-size: 16px;
}
.contact-info .img-icon {
  float: left;
  margin-right: 25px;
}
#input-email {
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px;
  background-color:#fff;
  color:#000;
}

#submit-contact-us-btn{
  border: none;
  width: 100%;
  background-color: $themePrimary;
  padding:0.5em;
  color:#fff;
}
