.ptb-15{
  padding-top: 15px;
  padding-bottom: 15px;
}
.ptb-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.mt-20{
  margin-top: 20px;
}
.no-list-style{
  ul{
    margin:0;
    padding:0;
  }
  ul li{
    list-style: none;
  }
}